<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Url for authorization requests -->
    <add key="authUrl" value="http://localhost:5000/auth"/>
    <!-- Url for signalR hub connection -->
    <add key="connectionUrl" value="http://localhost:5000/main"/>
  </appSettings>
</configuration>